body{
  margin: 0;
}
.top-section{
  color:#E1E1E1;
  background: url(img/Background-top.png);
  background-size: 100% 838px;
}
.header {
  display: flex;
  justify-content: start;
  padding-top: 40px;
}
.logo{
  font:500 30px/36.56px Montserrat,arial helvetica serif;
  padding-left: 130px;
  padding-top: 9px;
  padding-right: 149px;
}
.logo__text{
  display: flex;
  font: 500 20px/24.37px Montserrat,arial helvetica serif;
  margin-top: -8px;
  width: 294.5px;
  height: 70px;
  align-items: center;
  justify-content: center;
  background:  url(img/l.t.bcg.svg) no-repeat;
}
.logo__time{
  font:700 20px/24.37px Montserrat,arial helvetica serif;
  margin-top: 0;
  padding-top: 13px;
}
.logo__time_color{
  color:#ff0000;
}
 .header p{
  margin-right: 6px;
}
.header button{
  margin-left: 232px;
  margin-top: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: url("img/instagram.svg");
  border: none;
}
.text{
  padding-left: 130px;
}
.text__title{
  font:700 48px/51.31px Montserrat,arial helvetica serif;
  max-width: 796px;
  margin-top: 50px;
  margin-bottom: 0;
}
.text__subtitle{
  font: 500 23.5px/38.57px Montserrat,arial helvetica serif;
  max-width: 573px;
  margin-bottom: 33px;
  margin-top: 20px;
}
.text__button{
  font:500 30px/36.57px Montserrat,arial helvetica sans-serif;
  width: 382px;
  height: 82px;
  color: #fff;
  text-align: center;
  background-color: #e3202a;
  cursor: pointer;
  margin-bottom: 30px;
}
.text__description_present{
  font: 500 20px/24.38px Montserrat,arial helvetica serif;
  max-width: 420px;
  margin-top: 30px;
  margin-bottom: 0;
  background: url(img/top-present.svg) no-repeat;
  background-size: 79.38px 73px;
  background-position: left top;
  padding-left: 99px;
}
.text__description_present span{
  color:#ffb931;
}
.text__description{
  font: 700 20px/24.38px Montserrat,arial helvetica serif;
  margin-top: 12px;
  margin-left: 99px;
}
.text__color{
  padding-bottom: 82px;
}
.fears-section{
  margin-bottom: 90px;
}
.fears__title{
  font:700 40px/49px Montserrat,arial helvetica serif;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 38px;
}
.fears__text{
  display:flex;
  flex-direction: column;
  font: 500 20px/24.38px Montserrat,arial helvetica serif;
}
.fears{
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin:0 auto;
}
.fears__text-fears{
  display: flex;
  justify-content: space-between;
}
.fears__text-fears div{
  font: italic 900 100px/112px Montserrat,arial helvetica serif;
  color:#f6f6f6;
}
.fears__text-fears{
  position: relative;
}
.fears__text-fears:nth-child(2n+1):after{
  width: 85px;
  height: 110px;

  background: #F7F7F7;
  transform: matrix(0.5, 0, 0.4, -1, 0, 0);
  content: '';
  display: inline-block;
  position: absolute;
  top: 0px;
  right: -16px;
  box-shadow: 24px 0px 8px #e1e1e1;
}
.fears__text-fears:nth-child(2n)::before{
  width: 85px;
  height: 110px;
  left:-11px;
  background: #F7F7F7;
  transform: matrix(0.5, 0, 0.4, -1, 0, 0);
  content: '';
  display: inline-block;
  position: absolute;
  top: 0px;
}
.fears__text-fears:nth-child(2n+1) div{
  padding-right: 64px;
}
.fears__text-fears:nth-child(2n) div{
  padding-left: 65px;
}
.fears__text-fears:nth-child(2n+1){
text-align: left;
padding-left: 133px;
box-shadow: -40px 0px 12px #e2e2e2;
}
.fears__text-fears:nth-child(2n){
  text-align: right;
  padding-right: 130px;
  box-shadow: 20px 0 12px #e2e2e2;
}
.fears p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  margin-bottom: 0;
}
.fears__subtitle{
  font:700 30px/36.57px Montserrat,arial helvetica serif;
  max-width: 652px;
  text-align: center;
  margin-left: 393px;
  margin-top: 59px;
  margin-bottom: 0;
}
.fears__button{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  width: 286px;
  height: 72px;
  color: #fff;
  text-align: center;
  background-color: #e3202a;
  cursor: pointer;
  margin-left: 577px;
  margin-top: 50px;
}
.present-section{
  color:#E1E1E1;
  background: url(img/background-present.png);
  background-size: 100% 652px;
}
.present-text__title{
  font:700 40px/48.76px Montserrat,arial helvetica serif;
  max-width: 651px;
  text-align: center;
  margin-left: 390px;
  margin-bottom: 0;
  padding-top: 91px;
}
.present-text__description{
  display: flex;
  flex-direction: column;
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  max-width: 633px;
  margin-bottom: 30px;
}
.present-text__description_present{
  max-width: 573px;
  padding-left: 46px;
  background: no-repeat url(img/Vector.svg);
  background-position-y: 11px;
}
.present-text__description_present span{
  color: #f2af3b
}
.present-text{
  display: flex;
  margin-left: 130px;
  padding-top: 30px;
}
.present__photo{
  width: 676px;
  height: 438px;
  background:no-repeat url(img/Photo1.png);
  background-position: -105px -31px;
}
.present-text__button{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  width: 300px;
  height: 72px;
  margin-top: 26px;
  color: #fff;
  text-align: center;
  background-color: #e3202a;
  cursor: pointer;
}
.knowlege-section__titile{
  font:700 40px/48.76px Montserrat,arial helvetica serif;
  text-align: center;
  margin-top: 92px;
  margin-left: 10px;
}
.knowlege-section__knowlege{
  display:grid;
  grid-template-columns: 0fr 0fr 0fr;
  text-align: center;
  justify-content: center;
  font:500 20px/24.38px Montserrat,arial helvetica serif;
}
.knowlege{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 340px;
  padding-top: 16px;
}
.knowlege:nth-child(n+4){
  padding-top: 30px;
}
 .knowlege:nth-child(1) img{
  padding-bottom: 7px;
}
.knowlege:nth-child(2) img{
  padding-bottom: 7px;
  padding-right: 15px;
}
.knowlege:nth-child(3) img{
  padding-bottom: 7px;
}
.knowlege:nth-child(4) img{
  padding-bottom: 3px;
  padding-right: 91px;
  padding-top: 6px;
}
.knowlege:nth-child(5) img{
  padding-bottom: 6px;
  padding-right: 84px;
}
.knowlege:nth-child(6) img{
  padding-bottom: 6px;
  padding-right: 5px;
}
.knowlege:nth-child(1){
  margin-right: 86px;
}
.knowlege:nth-child(2){
  margin-right: 68px;
}
.knowlege:nth-child(4){
  margin-left: 6px;
}
.knowlege:nth-child(4) p{
  padding-right: 83px;
}
.knowlege:nth-child(5) p{
  max-width: 199px;
  padding-right: 74px;
}
.knowlege:nth-child(6) p{
  width: 349px;
  height: 72px;
}
.knowlege__button{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  width: 286px;
  height: 72px;
  color: #fff;
  background-color: #e3202a;
  cursor: pointer;
  margin-top: 29px;
  margin-left: 577px;
  margin-bottom: 56px;
}
.about-section{
  color:#E1E1E1;
  background: url(img/Background-about.png);
  background-size: 100% 940px;
}
.about__title{
  font:700 40px/48.76px Montserrat,arial helvetica serif;
  text-align: center;
  padding-top: 92px;
}
.description{
  margin-left: 147px;
  padding-top: 4px;
  padding-bottom: 108px;
  background: no-repeat url(img/Photo2.png);
  background-position: 684px 14px
}
.about__description{
  font:700 30px/36.57px Montserrat,arial helvetica serif;
  color: #FFB931;
margin-left: 63px;
}
.description p{
  font:500 18px/24.38px Montserrat,arial helvetica serif;
  margin-bottom: 22px;
  background: url(img/Line-about.svg) no-repeat;
  background-size: 50px 9px;
  background-position: left;
  padding-left: 63px;
}
.description p:nth-child(3){
  max-width: 541px;
}
.description p:nth-child(5){
  max-width: 512px;
}
.description p:nth-child(6){
  max-width: 565px;
}
.description p:nth-child(8){
  max-width: 557px;
}
.description p:nth-child(9){
  max-width: 553px;
}
.description p:nth-child(10){
  max-width: 602px;
}
.advantages_title{
  font: 700 40px/48.76px Montserrat,arial helvetica serif;
  margin-left: 329px;
  padding-top: 60px;
}
.advantages__text{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  font:500 20px/24.38px Montserrat,arial helvetica serif;
}
.advantages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
.advantages:nth-child(1) p{
  max-width: 280px;
  padding-top: 73px;
  padding-bottom: 67px;
}
.advantages:nth-child(2) p{
  max-width: 316px;
  margin-top: 26px;
  margin-right: 128px;
}
.advantages:nth-child(3) p{
  max-width: 367px;
  margin-left: 30px;
  padding-top: 70px;
  padding-bottom: 57px;
}
.advantages:nth-child(4) p{
  max-width: 335px;
  margin-top: 32px;
  margin-right: 107px;
}
.advantages__photo1{
  width: 90px;
  height: 84px;
  margin-left: 99px;
  margin-right: 13px;
  margin-top: 18px;
  background: no-repeat url(img/advantages1.svg);
}
.advantages__photo2{
  width: 93px;
  height: 77px;
  margin-right: 6px;
  margin-top: 10px;
  background: no-repeat url(img/advantages2.svg);
}
.advantages__photo3{
  width: 57px;
  height: 77px;
  margin-top: 13px;
  margin-left: 197px;
  background: no-repeat url(img/advantages3.svg);
}
.advantages__photo4{
  width: 100px;
  height: 77px;
  margin-top: 12px;
  background: no-repeat url(img/advantages4.svg);
}

.advantages:nth-child(1){
  background-color: #e9e9e9;
  margin-right: 3%;
}
.advantages:nth-child(2){
  background-color: #e9e9e9;
}
.advantages:nth-child(3){
  background-color: #e9e9e9;
  margin-right: 3%;
}
.advantages:nth-child(4){
  background-color: #e9e9e9;
}
.advantages__button{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  width: 286px;
  height: 72px;
  color: #fff;
  background-color: #e3202a;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 577px;
}
.review__title{
  font:700 40px/48.76px Montserrat,arial helvetica serif;
  text-align: center;
  padding-top: 58px;
  margin-bottom: 20px;
}
.splide__track{
  text-align: center;
}
.splide__slide img{
  width: 314px;
  height: 472px;
}
.splide__slide img:nth-child(2){
  margin-left: 12px;
  margin-right: 26px;
}
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 49%;
    transform: translateY(-50%);
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: .7;
}
.splide__arrow--prev {
    left: 13.8em;
}
.splide__arrow--next {
    right: 13.8em;
}
.splide__pagination{
  bottom: -1.5em
}
.splide__pagination__page {
  width: 18px;
  height: 18px;
}
.splide__pagination__page.is-active{
    transform: scale(1.1);
    background: linear-gradient(180deg, #2371E4 0%, #4230AF 100%);
}
.review__button{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  width: 407px;
  height: 72px;
  color: #fff;
  background-color: #e3202a;
  cursor: pointer;
  margin-top: 71px;
  margin-left: 517px;
  margin-bottom: 93px;
}
.footer__section{
  display: flex;
  background: linear-gradient(180deg, #2E63B4 0%, #241B6F 91.67%);
  align-items: center;
  justify-content: center;
}
.footer{
  max-width: 1097px;
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer a{
  color: #fff;
  cursor: pointer;
}
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__body{
  min-height: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content{
  background-color: #FAF9FF;
  width: 915px;
  height: 598px;
  padding: 30px;
  position: relative;
}
.popup__close{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 27px;
  color: #000;
  text-decoration: none;
}
.popup__title{
  font:700 30px/36.57px Montserrat,arial helvetica serif;
  width: 669px;
  height: 74px;
  text-align: center;
  align-items: center;
  margin-left: 126px;
  margin-bottom: 50px;
}
.popup__input{
  display: flex;
  font:400 18px/19.24px Montserrat,arial helvetica serif;
  width: 395px;
  height: 58px;
  border: solid 1px grey;
  padding-left: 20px;
  margin-left: 250px;
  margin-bottom: 21px;
}
.popup__button{
  font:400 18px/19.24px Montserrat,arial helvetica serif;
  width: 420px;
  height: 62px;
  color: #fff;
  background-color: #e3202a;
  cursor: pointer;
  margin-left: 250px;
}
.popup__text{
  font:400 15px/16.04px Montserrat,arial helvetica serif;
  margin-left: 139px;
  margin-top: 44px;
}
.popup__text a{
  color: skyblue;
}
@media (min-width:1500px){
  .advantages__text{
    grid-template-columns: 1fr 1fr;
  }
.advantages:nth-child(1){
  background-position: 110px 89px;
}
 .advantages:nth-child(2){
  padding-right: 60px;
}
.advantages:nth-child(3){
  background-position: 120px 87px;
}
.advantages:nth-child(4){
  padding-right: 60px;
}
.advantages:nth-child(2) p{
  margin-right: 0;
}
.advantages:nth-child(4) p{
  margin-right: 0;
}

.fears p:nth-child(2){
  padding-right: 0;
}
.fears p:nth-child(4){
  padding-right: 0;
}
.fears p:nth-child(6){
  padding-right: 0;
}
.fears p:nth-child(8){
  padding-right: 0;
}
.fears p:nth-child(10){
  padding-right: 0;
}
}
@media (max-width:1370px){
  .fears__subtitle{
    margin-left: 370px;
  }
  .fears__button{
    margin-left: 560px;
  }
  .knowlege__button{
    margin-left: 540px;
  }
  .advantages__button{
    margin-left: 530px;
  }
  .review__button{
    margin-left: 470px;
  }
}
@media (max-width:960px){
  .fears{
    display: none;
  }
  .swiper-container--reviews{
    display: none;
  }
}
@media (min-width:1201px){
.swiper-container--intro{
display: none;
}
.swiper-container--mobile{
display: none;
}
}
@media (max-width:1200px){
  .top-section{
    background: no-repeat url("img/Background-top2.png");
    background-size: 100% 1284px;
  }
  .header{
    display: inline-block;
    padding-top: 20px;
  }
  .logo{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  padding-left: 50px;
  padding-right: 0;
  }
  .logo p{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  .logo__text{
  font: 500 16px/19.5px Montserrat,arial helvetica serif;
  padding-top: 24px;
  margin-top: 20px;
  margin-left: 74px;
  margin-bottom: 11px;
  background-size: 260px 51px;
  background-position: 12px 34px;
  }
  .logo__time{
  font:700 16px/19.5px Montserrat,arial helvetica serif;
  padding-top: 0;
  padding-left: 117px;
  }
  .header button{
  display: flex;
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  margin-left: 328px;
  margin-top: -188px;
  }
  .text{
  padding-left: 0;
  padding-bottom: 510px;
  background: no-repeat url(img/Photo-top.png);
  background-size: 259px 452px;
  background-position: center;
  background-position-y: 605px;
  }
  .text__title{
  font:700 30px/32.07px Montserrat,arial helvetica serif;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 18%;
  }
  .text__subtitle{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  margin-bottom: 30px;
  margin-top: 0;
  padding-left: 18%;
  }
  .text__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-left: 18%;
  margin-bottom: 62px;
  }
  .text__color{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18%;
    background: linear-gradient(98.84deg, rgba(49, 141, 226, 0.44) 0.78%, rgba(43, 32, 144, 0.56) 100%);
  }
  .text__description_present{
    max-width: 320px;
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  background: none;
  margin-top: 20px;
  padding-left: 0;
  }
  .text__description{
  font:700 16px/19.5px Montserrat,arial helvetica serif;
  margin-left: 0;
  margin-top: 22px;
  }
  .fears__title{
  font:700 24px/27px Montserrat,arial helvetica serif;
  max-width: 214px;
  margin-top: 72px;
  margin-left: 90px;
  margin-bottom: 4px;
  }
  .fears{
  display: flex;
  background: none;
  }
  .fears__text{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  display: none;
  }
  .swiper-container--intro .splide__pagination{
    bottom: -1.9em;
  }
  .swiper-container--intro .splide__pagination__page {
    width: 14px;
    height: 14px;
  }
  .splide__slide{
    margin-left: 4%;
  }
  .splide__slide p{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  }
  .splide__slide_first p:nth-child(1){
  width: 260px;
  height: 60px;
  text-align: left;
  margin-left: 30px;
  padding-right: 60px;
  background: no-repeat url(img/01.svg);
  background-size: 56px 61px;
  background-position: right center;
  }
  .splide__slide_first p:nth-child(2){
  width: 253px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 72px;
  background: no-repeat url(img/02.svg);
  background-size: 65px 61px;
  background-position: right center;
  }
  .splide__slide_first p:nth-child(3){
  width: 260px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 63px;
  background: no-repeat url(img/03.svg);
  background-size: 65px 61px;
  background-position: right center;
  }
  .splide__slide_first p:nth-child(4){
  width: 154px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 172px;
  background: no-repeat url(img/04.svg);
  background-size: 71px 61px;
  background-position: right center;
  }
  .splide__slide_first p:nth-child(5){
  width: 162px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 158px;
  background: no-repeat url(img/05.svg);
  background-size: 66px 61px;
  background-position: right center;
  }
  .splide__slide_first p{
  margin-bottom: 20px;
  }
  .splide__slide_second p:nth-child(1){
  width: 260px;
  height: 60px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 5px;
  padding-right: 85px;
  background: no-repeat url(img/06.svg);
  background-size: 70px 61px;
  background-position: right center;
  }
  .splide__slide_second p:nth-child(2){
  width: 253px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 16px;
  padding-right: 89px;
  background: no-repeat url(img/07.svg);
  background-size: 70px 61px;
  background-position: right center;
  }
  .splide__slide_second p:nth-child(3){
  width: 280px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 58px;
  margin-bottom: 30px;
  background: no-repeat url(img/08.svg);
  background-size: 72px 61px;
  background-position: right center;
  }
  .splide__slide_second p:nth-child(4){
  width: 170px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  margin-top: 25px;
  padding-right: 167px;
  background: no-repeat url(img/09.svg);
  background-size: 72px 61px;
  background-position: right center;
  }
  .splide__slide_second p:nth-child(5){
  width: 250px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 85px;
  padding-bottom: 16px;
  background: no-repeat url(img/10.svg);
  background-size: 70px 61px;
  background-position: right center;
  }
  .splide__slide_second p{
  margin-bottom: 20px;
  }
  .fears__subtitle{
  max-width: 261px;
  font:700 18px/21.94px Montserrat,arial helvetica serif;
  margin-left: 16%;
  margin-top: 77px;
  }
  .fears__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-left: 70px;
  margin-top: 20px;
  }
  .present-section{
  background: linear-gradient(180deg, rgba(35, 113, 228, 0.9) 1.97%, rgba(19, 2, 128, 0.9) 102.22%);
  }
  .present-text__title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  margin-left: 6%;
  padding-top: 71px;
  text-align: left;
  }
  .present-text__description{
  max-width: 330px;
  font:500 14px/20.5px Montserrat,arial helvetica serif;
  margin-left: 25px;
  }
  .present-text{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding-top: 40px;
    background: url(img/Photo1.png) no-repeat;
    background-size: 240px 160px;
    background-position: center 230px;
  }
  .present-text__description_present{
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 90px;
  background-position: 40px 22px;
  }
  .present-text__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 75px;
  }
  .present__photo{
    display: none;
  }
  .knowlege-section__titile{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  margin-top: 71px;
  margin-left: 115px;
  max-width: 200px;
  }
  .knowlege{
  display: flex;
  width: 0;
  }
  .knowlege-section__knowlege {
  display: block;
  font:500 16px/20px Montserrat,arial helvetica serif;
  }
  .knowlege:nth-child(1) p{
  max-width: 184px;
  margin-left: 50px;
  margin-top: 15px;
  }
  .knowlege:nth-child(1) img {
  width: 56.47px;
  height: 46.2px;
  padding-top: 13px;
  padding-bottom: 0;
  margin-left: 50px;
  }
  .knowlege:nth-child(2) img {
  width: 48px;
  height: 47px;
  margin-left: 55px;
  margin-bottom: 0;
  }
  .knowlege:nth-child(2) p{
  max-width: 183px;
  margin-left: 50px;
  margin-top: 7px;
  }
  .knowlege:nth-child(3) img {
  width: 48px;
  height: 46px;
  margin-left: 45px;
  }
  .knowlege:nth-child(3) p{
  max-width: 217px;
  margin-top: 5px;
  margin-left: 50px;
  }
  .knowlege:nth-child(4) img {
  width: 45px;
  height: 47px;
  margin-left: 45px;
  padding-right: 0;
  }
  .knowlege:nth-child(4) p{
  max-width: 199px;
  margin-top: 9px;
  margin-left: 45px;
  padding-right: 0;
  }
  .knowlege:nth-child(5) img {
  width: 48px;
  height: 47px;
  margin-left: 55px;
  padding-right: 0;
  }
  .knowlege:nth-child(5) p{
  max-width: 159px;
  margin-top: 7px;
  margin-left: 55px;
  padding-right: 0;
  }
  .knowlege:nth-child(6) img {
  width: 48px;
  height: 47px;
  margin-left: 50px;
  padding-right: 0;
  }
  .knowlege:nth-child(6) p{
  max-width: 253px;
  margin-top: 7px;
  margin-left: 50px;
  }
  .knowlege__button{
  font:500 16px/20px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 20px;
  margin-left: 61px;
  }
  .about-section{
  background: linear-gradient(180deg, rgba(19, 2, 128, 0.9) 1.97%, rgba(35, 113, 228, 0.9) 102.22%);
  }
  .about__title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  padding-top: 70px;
  margin-top: 11px;
  margin-left: 37px;
  }
  .description{
  margin-left: 0px;
  padding: 14px;
  padding-bottom: 500px;
  background: no-repeat url(img/Photo2.png);
  background-size: 318.5px 444.6px;
  background-position: center 680px;
  }
  .about__description{
  font:700 18px/21.94px Montserrat,arial helvetica serif;
  margin-left: 47px;
  }
  .description p{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  background: none;
  padding-left: 47px;
  }
  .description p:nth-child(2) {
  margin-top: 20px;
  }
  .description p:nth-child(3){
  margin-bottom: 18px;
  }
  .description p:nth-child(6){
  margin-bottom: 18px;
  }
  .description p:nth-child(9){
  margin-bottom: 18px;
  }
  .advantages_title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  max-width: 225px;
  margin-left: 93px;
  padding-top: 51px;
  }
  .advantages__text {
  display: block;
  font:500 16px/20px Montserrat,arial helvetica serif;
  }
  .advantages{
  display: flex;
  margin-bottom: 20px;
  }
  .advantages__photo1,
  .advantages__photo2,
  .advantages__photo3,
  .advantages__photo4{
    display: none;
  }
  .advantages:nth-child(1){
    background: none;
    background-color: #e9e9e9;
    padding-right: 0;
    margin-right: 0;
  }
  .advantages:nth-child(2){
    background: none;
    background-color: #e9e9e9;
    padding-right: 0;
  }
  .advantages:nth-child(3){
    background: none;
    background-color: #e9e9e9;
    padding-right: 0;
    margin-right: 0;
  }
  .advantages:nth-child(4){
    background: none;
    background-color: #e9e9e9;
    padding-right: 0;
  }
  .advantages:nth-child(1) p{
    max-width: 223px;
    margin-top: 30px;
    margin-left: 0px;
    padding-top: 0;
    padding-bottom: 26px;
  }
  .advantages:nth-child(2) p{
    max-width: 239px;
    margin-top: 30px;
    margin-left: 17px;
    margin-right: 0;
    padding-bottom: 24px;
  }
  .advantages:nth-child(3) p{
    max-width: 250px;
    margin-top: 16px;
    margin-left: 26px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .advantages:nth-child(4) p{
    max-width: 211px;
    margin-top: 29px;
    margin-left: 0px;
    margin-right: 9px;
    padding-bottom: 7px;
  }
  .advantages__button{
    font:500 16px/20px Montserrat,arial helvetica serif;
    width: 260px;
    height: 60px;
    margin-top: 30px;
    margin-left: 80px;
  }
  .review-section{
  height: 741px;
  }
  .review__title{
  font:700 24px/29px Montserrat,arial helvetica serif;
  padding-top: 70px;
  }
  .swiper-container--reviews{
  display: none;
  }
  .swiper-container--mobile .splide__slide img{
  width: 296px;
  height: 430px;
  }
  .swiper-container--mobile .splide__pagination__page{
  width: 12px;
  height: 12px;
  }
  .swiper-container--mobile .splide__pagination{
  bottom: -1em;
  }
  .review__button{
  font:500 16px/20px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 67px;
  margin-left: 72px;
  }
  .footer{
    font:500 16px/20px Montserrat,arial helvetica serif;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .popup__content{
    width: 321px;
    height: 697px;
  }
  .popup__title{
  font:700 24px/29px Montserrat,arial helvetica serif;
  width: 260px;
  height: 145px;
  margin-left: 15px;
  margin-top: 8px;
  }
  .popup__input{
    font:500 12px/14.63px Montserrat,arial helvetica serif;
    width: 236px;
    height: 50px;
    margin-left: 19px;
    margin-bottom: 7px;
  }
  .popup__button{
    font:500 16px/19.5px Montserrat,arial helvetica serif;
    width: 260px;
    height: 60px;
    margin-left: 20px;
    margin-top: 21px;
  }
  .popup__text{
    font:400 15px/16px Montserrat,arial helvetica serif;
    width: 222px;
    height: 48px;
    margin-left: 21px;
    margin-top: 49px;
  }
}
@media (max-width:385px){
  .advantages:nth-child(1){
    padding-right: 0%;
  }
  .advantages:nth-child(2){
    padding-right: 0%;
  }
  .advantages:nth-child(3){
    padding-right: 0%;
  }
  .advantages:nth-child(4){
    padding-right: 0%;
  }
  .advantages:nth-child(4) p{
    margin-left: 1%;
  }
}
@media (max-width:380px){
  .top-section{
    background: no-repeat url("img/Background-top2.png");
    background-size: 100% 1284px;
  }
  .header{
    display: inline-block;
    padding-top: 20px;
  }
  .logo{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  padding-left: 40px;
  padding-right: 0;
  }
  .logo p{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
  .logo__text{
  margin-left: 50px;
  background-position: 12px 34px;
  }
  .logo__time{
  padding-left: 90px;
  }
  .header button{
  margin-left: 320px;
  }
  .text__description_present{
    margin-top: 20px;
  }
  .text{
  padding-left: 0;
  padding-bottom: 504px;
  background-position-y:605px;
  }
  .about__title{
    margin-left: 1%;
  }
  .description{
    padding-left: 0;
  }
  .advantages{
    margin-bottom: 20px;
  }
  .advantages_title{
    margin-left: 77px;
  }
  .advantages:nth-child(2) p{
    margin-left: 18px;
    margin-top: 8%;
  }
  .advantages:nth-child(3) p{
    margin-top: 7%;
  }
  .advantages:nth-child(4) p{
    margin-top: 8%;
  }
  .advantages:nth-child(1){
    background-color: #E1E1E1;
    padding-right: 0;
  }
  .advantages:nth-child(2){
    background-color: #E1E1E1;
    padding-right:0;
  }
  .advantages:nth-child(3){
    background-color: #E1E1E1;
    padding-right: 0;
  }
  .advantages:nth-child(4){
    background-color: #E1E1E1;
    padding-right: 0;
  }
  .advantages__button{
    margin-top: 20px;
    margin-left: 16%;
  }
  .review__title{
    padding-top: 18%;
  }
  .review__button {
    margin-left: 62px;
  }
  .fears__title{
    margin-left: 90px;
  }
  .fears__subtitle{
    max-width: 261px;
    margin-top: 70px;
  }
  .fears__button{
    margin-left: 16%;
  }
  .present-text__title{
    margin-left: 8%;
  }
  .present-text{
    margin-left: 0;
    background-position: center 245px;
  }
  .present-text__button{
    margin-left: 60px;
  }
  .knowlege-section__titile{
    margin-left: 26.3%;
  }
}
@media (max-width:361px){
  .splide__slide_first p:nth-child(1){
    padding-right: 40px;
  }
  .splide__slide_first p:nth-child(2){
    padding-right: 52px;
  }
  .splide__slide_first p:nth-child(3){
    padding-right: 43px;
  }
  .splide__slide_first p:nth-child(4){
    padding-right: 152px;
  }
  .splide__slide_first p:nth-child(5){
    padding-right: 138px;
  }
  .splide__slide_second p:nth-child(1){
    padding-right: 65px;
  }
  .splide__slide_second p:nth-child(2){
    padding-right: 69px;
  }
  .splide__slide_second p:nth-child(3){
    padding-right: 38px;
  }
  .splide__slide_second p:nth-child(4){
    padding-right: 147px;
  }
  .splide__slide_second p:nth-child(5){
    padding-right: 65px;
  }
  .advantages:nth-child(1){
    padding-right: 0%;
  }
  .advantages:nth-child(2){
    padding-right: 0%;
  }
  .advantages:nth-child(3){
    padding-right: 0%;
  }
  .advantages:nth-child(4){
    padding-right: 0%;
  }
}
@media (max-width:321px){
  .top-section{
    background: no-repeat url("img/Background-top2.png");
    background-size: 100% 1284px;
  }
  .header{
    display: inline-block;
    padding-top: 29px;
  }
.logo{
  font:500 20px/24.38px Montserrat,arial helvetica serif;
  padding-left: 29px;
  padding-right: 0;
}
.logo p{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logo__text{
  font: 500 16px/19.5px Montserrat,arial helvetica serif;
  padding-top: 24px;
  margin-left: 13px;
  margin-top: -18px;
  margin-bottom: 1px;
  background-size: 260px 51px;
  background-position: 17px 34px;
}
.logo__time{
  font:700 16px/19.5px Montserrat,arial helvetica serif;
  max-width: 197px;
  padding-top: 0;
  padding-left: 29px;
}
.header button{
  display: flex;
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  margin-left: 268px;
  margin-top: -154px;
}
.text{
  padding-left: 0px;
  padding-bottom: 504px;
  background-position-y:606px;
}
.text__title{
  font:700 30px/32.07px Montserrat,arial helvetica serif;
  margin-top: 50px;
  padding-left: 10%;
}
.text__subtitle{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  margin-bottom: 30px;
  padding-left: 10%;
}
.text__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-left: 10%;
}
.text__color{
  padding-left: 10%;
}
.text__description_present{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  background: none;
  margin-top: 20px;
  padding-left: 0;
}
.text__description{
  font:700 16px/19.5px Montserrat,arial helvetica serif;
  margin-left: 0;
  margin-top: 22px;
  background-position-y: 41px;
}
.fears-section{
  height: 666px;
}
.fears__title{
  font:700 24px/27px Montserrat,arial helvetica serif;
  max-width: 214px;
  margin-top: 72px;
  margin-left: 55px;
  margin-bottom: 7px;
}
.fears{
  display: flex;
  background: none;
}
.fears__text{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  display: none;
}
.swiper-container--intro .splide__pagination{
    bottom: -1.5em;
}
.swiper-container--intro .splide__pagination__page {
    width: 14px;
    height: 14px;
}
.splide__slide p{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
}
.splide__slide_first p:nth-child(1){
  width: 260px;
  height: 60px;
  text-align: left;
  margin-left: 30px;
  padding-right: 20px;
}
.splide__slide_first p:nth-child(2){
  width: 253px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 33px;
}
.splide__slide_first p:nth-child(3){
  width: 260px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 25px;
}
.splide__slide_first p:nth-child(4){
  width: 154px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 132px;
}
.splide__slide_first p:nth-child(5){
  width: 162px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 120px;
}
.splide__slide_first p{
  margin-bottom: 20px;
}
.splide__slide_second p:nth-child(1){
  width: 260px;
  height: 60px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0;
  padding-right: 25px;
}
.splide__slide_second p:nth-child(2){
  width: 253px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  margin-top: 0;
  padding-right: 31px;
}
.splide__slide_second p:nth-child(3){
  width: 280px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 1px;
}
.splide__slide_second p:nth-child(4){
  width: 170px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  margin-top: 35px;
  padding-right: 110px;
}
.splide__slide_second p:nth-child(5){
  width: 250px;
  height: 40px;
  text-align: left;
  margin-left: 30px;
  padding-right: 31px;
}
.splide__slide_second p{
  margin-bottom: 20px;
}
.fears__subtitle{
  font:700 18px/21.94px Montserrat,arial helvetica serif;
  max-width: 261px;
  margin-left: 30px;
  margin-top: 71px;
}
.fears__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-left: 30px;
  margin-top: 20px;
}
.present-section{
  background: linear-gradient(180deg, rgba(35, 113, 228, 0.9) 1.97%, rgba(19, 2, 128, 0.9) 102.22%);
}
.present-text__title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  max-width: 234px;
  margin-left: 39px;
  padding-top: 71px;
  text-align: center;
}
.present-text__description{
  font:500 16px/20.5px Montserrat,arial helvetica serif;
  max-width: 261px;
  text-align: center;
  margin-bottom: 51px;
  margin-left: 0;
}
.present-text{
  margin-left: 0;
  padding-top: 34px;
  background: none;
}
.present-text__description_present{
  padding-left: 0px;
  padding-top: 75px;
  background-position: 113px 22px;
  margin-bottom: 0;
}
.present-text__button{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 17px;
  margin-bottom: 70px;
  margin-left: 0px;
}
.knowlege-section{
  height: 1262px;
}
.knowlege-section__titile{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  max-width: 175px;
  margin-top: 71px;
  margin-left: 71px;
}
.knowlege{
  display: flex;
  min-width: 314px;
}
.knowlege-section__knowlege {
  display: block;
  font:500 16px/20px Montserrat,arial helvetica serif;
}
.knowlege:nth-child(1) p{
  max-width: 184px;
  margin-left: 8px;
  margin-top: 15px;
}
.knowlege:nth-child(1) img {
  width: 56.47px;
  height: 46.2px;
  padding-top: 14px;
  padding-bottom: 0;
  margin-left: 7px;
}
.knowlege:nth-child(2) img {
  width: 48px;
  height: 47px;
  margin-left: 22px;
  margin-bottom: 0;
  padding-top: 37px;
}
.knowlege:nth-child(2) p{
  max-width: 183px;
  margin-left: 3px;
  margin-top: 6px;
}
.knowlege:nth-child(3) img {
  width: 48px;
  height: 46px;
  margin-right: 0px;
  padding-top: 18px;
  padding-bottom: 12px;
  margin-left: 0;
}
.knowlege:nth-child(3) p{
  max-width: 217px;
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 0;
}
.knowlege:nth-child(4) img {
  width: 45px;
  height: 47px;
  margin-left: 79px;
  padding-right: 91px;
}
.knowlege:nth-child(4) p{
  max-width: 199px;
  margin-top: 9px;
  margin-left: 0px;
  padding-right: 0;
}
.knowlege:nth-child(5) img {
  width: 48px;
  height: 47px;
  margin-left: 92px;
  padding-right: 84px;
}
.knowlege:nth-child(5) p{
  max-width: 159px;
  margin-top: 7px;
  margin-left: 78px;
  padding-right: 74px;
}
.knowlege:nth-child(6) img {
  width: 48px;
  height: 47px;
  margin-right: 2px;
  margin-left: 0;
  padding-top: 4px;
}
.knowlege:nth-child(6) p{
  max-width: 253px;
  margin-top: 7px;
  margin-right: 0px;
  margin-left: 0;
}
.knowlege__button{
  font:500 16px/20px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 42px;
  margin-left: 30px;
}
.about-section{
background: url(img/Background3.png);
}
.about__title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  padding-top: 70px;
  margin-top: 11px;
  margin-left: 0;
}
.description{
  margin-left: -46px;
  padding: 14px;
  background: none;
  padding-bottom: 474px;
}
.about__description{
  font:700 18px/21.94px Montserrat,arial helvetica serif;
}
.description p{
  font:500 16px/19.5px Montserrat,arial helvetica serif;
  background: none;
}
.description p:nth-child(2) {
  max-width: 212px;
  margin-top: 20px;
}
.description p:nth-child(3){
  max-width: 259px;
  margin-bottom: 24px;
}
.description p:nth-child(5){
  max-width: 259px;
}
.description p:nth-child(6){
  max-width: 259px;
  margin-bottom: 24px;
}
.description p:nth-child(8){
  max-width: 259px;
}
.description p:nth-child(9){
  max-width: 259px;
  margin-bottom: 24px;
}
.advantages_title{
  font:700 24px/29.26px Montserrat,arial helvetica serif;
  margin-left: 49px;
  padding-top: 51px;
  margin-bottom: 51px;
}
.advantages__text {
  display: block;
  font:500 16px/20px Montserrat,arial helvetica serif;
}
.advantages{
  display: flex;
}
.advantages:nth-child(1){
  background: none;
  background-color: #e9e9e9;
  padding-right: 0;
  margin-right: 0;
}
.advantages:nth-child(2){
  background: none;
  background-color: #e9e9e9;
  padding-right: 0;
}
.advantages:nth-child(3){
  background: none;
  background-color: #e9e9e9;
  padding-right: 0;
  margin-right: 0;
}
.advantages:nth-child(4){
  background: none;
  background-color: #e9e9e9;
  padding-right: 0;
}
.advantages:nth-child(1) p{
  max-width: 223px;
  margin-top: 30px;
  margin-left: 0px;
  padding-top: 0;
  padding-bottom: 26px;
}
.advantages:nth-child(2) p{
  max-width: 239px;
  margin-top: 30px;
  margin-left: 17px;
  margin-right: 0;
  padding-bottom: 24px;
}
.advantages:nth-child(3) p{
  max-width: 250px;
  margin-top: 16px;
  margin-left: 26px;
  padding-top: 0;
  padding-bottom: 0;
}
.advantages:nth-child(4) p{
  max-width: 211px;
  margin-top: 29px;
  margin-left: 0px;
  margin-right: 9px;
  padding-bottom: 7px;
}
.advantages__button{
  font:500 16px/20px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 30px;
  margin-left: 31px;
}
.review__title{
  font:700 24px/29px Montserrat,arial helvetica serif;
  padding-top: 51px;
}
.swiper-container--reviews{
  display: none;
}
.swiper-container--mobile .splide__slide img{
  width: 296px;
  height: 430px;
}
.swiper-container--mobile .splide__pagination__page{
  width: 12px;
  height: 12px;
}
.swiper-container--mobile .splide__pagination{
  bottom: -1em;
}
.review__button{
  font:500 16px/20px Montserrat,arial helvetica serif;
  width: 260px;
  height: 60px;
  margin-top: 67px;
  margin-left: 31px;
}
.footer{
  font:500 16px/20px Montserrat,arial helvetica serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
}
